################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RDSSource/FileContentIndex/240457bd-75ff-45bd-95b9-4657f82ccc0e.vsidx
/.vs/RDSSource/FileContentIndex/4d75cd61-1101-458b-94c3-60cb6c325a2e.vsidx
/.vs/RDSSource/FileContentIndex/54016070-283a-4258-9b59-c8253cdf78c0.vsidx
*.vsidx
