################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RDSSource/FileContentIndex/240457bd-75ff-45bd-95b9-4657f82ccc0e.vsidx
