@model IEnumerable<WebSiram.Models.User>

@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="beranda">
    <div class="frame-14">
        <img class="mask-group" src="~/images/mask-group0.svg" />
        <div class="siram">SIRAM</div>
        <div class="frame-3">
            <img class="ion-notifcations" src="~/images/ion-notifcations0.svg" />
            <img class="r-1" src="~/images/r-10.png" />
            <div class="admin">Admin</div>
            <img class="vector-1" src="~/images/vector-10.svg" />
        </div>
    </div>
    <div class="frame-174">
        <img class="vector-8" src="~/images/vector-80.svg" />
        <div class="frame-169">
            <div class="frame-168">
                <div class="frame-166">
                    <div class="frame-5">
                        <div class="icon-1">
                            <img class="group5" src="~/images/group4.svg" />
                        </div>
                    </div>
                    <img class="vector-66" src="~/images/vector-65.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <a class="button-body" asp-controller="HomeDashboard" asp-action="Index">
                                    <div class="text">DASHBOARD</div>
                                </a>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-164">
                <div class="frame-166">
                    <div class="frame-5">
                        <img class="group-4" src="~/images/group-40.svg" />
                    </div>
                    <img class="vector-62" src="~/images/vector-61.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <form asp-controller="Home" asp-action="Datakara" method="post">
                                    <button type="submit" class="button-body">
                                        <div class="text">DATAKARA</div>
                                    </button>
                                </form>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-165">
                <div class="frame-166">
                    <div class="frame-5">
                        <div class="lemasmil-1">
                            <img class="group2" src="~/images/group1.svg" />
                        </div>
                    </div>
                    <img class="vector-63" src="~/images/vector-62.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <a class="button-body" asp-controller="Activities" asp-action="Index">
                                    <div class="text">LEMASMIL</div>
                                </a>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-1662">
                <div class="frame-167">
                    <div class="frame-4">
                        <div class="t-111-xt-1">
                            <img class="group3" src="~/images/group2.svg" />
                        </div>
                    </div>
                    <img class="vector-64" src="~/images/vector-63.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <div class="button-body">
                                    <div class="text">E-LIBRARY</div>
                                </div>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-1135">
            <div class="frame-1672">
                <div class="frame-166">
                    <div class="frame-5">
                        <div class="t-1-xt-1">
                            <img class="group4" src="~/images/group3.svg" />
                        </div>
                    </div>
                    <img class="vector-65" src="~/images/vector-64.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <div class="button-body">
                                    <div class="text">VIDEO CONFERENCE</div>
                                </div>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-161">
                <div class="frame-167">
                    <div class="frame-4">
                        <div class="management-user-1">
                            <img class="group" src="~/images/group0.svg" />
                        </div>
                    </div>
                    <img class="vector-6" src="~/images/vector-60.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <div class="button-body">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">
                                        <div class="text">MANAGEMENT USER</div>
                                    </a>
                                </div>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-1692">
                <div class="frame-166">
                    <div class="frame-5">
                        <div class="icon-1">
                            <img class="group6" src="~/images/group5.svg" />
                        </div>
                    </div>
                    <img class="vector-67" src="~/images/vector-66.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <div class="button-body">
                                    <div class="text">E-FILLING</div>
                                </div>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-170">
                <div class="frame-166">
                    <div class="frame-5">
                        <div class="icon-1">
                            <img class="group7" src="~/images/group6.svg" />
                        </div>
                    </div>
                    <img class="vector-68" src="~/images/vector-67.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <div class="button-body">
                                    <div class="text">E-OFFICE</div>
                                </div>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-1135">
            <div class="frame-1672">
                <div class="frame-166">
                    <div class="frame-5">
                        <div class="t-1-xt-1">
                            <img class="group4" src="~/images/group3.svg" />
                        </div>
                    </div>
                    <img class="vector-65" src="~/images/vector-64.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <a class="button-body" asp-controller="Activities" asp-action="Index">
                                    <div class="text">ATIFITAS</div>
                                </a>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-161">
                <div class="frame-167">
                    <div class="frame-4">
                        <div class="management-user-1">
                            <img class="group" src="~/images/group0.svg" />
                        </div>
                    </div>
                    <img class="vector-6" src="~/images/vector-60.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <div class="button-body">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">
                                        <div class="text">MANAGEMENT USER</div>
                                    </a>
                                </div>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-1692">
                <div class="frame-166">
                    <div class="frame-5">
                        <div class="icon-1">
                            <img class="group6" src="~/images/group5.svg" />
                        </div>
                    </div>
                    <img class="vector-67" src="~/images/vector-66.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <div class="button-body">
                                    <div class="text">E-FILLING</div>
                                </div>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-170">
                <div class="frame-166">
                    <div class="frame-5">
                        <div class="icon-1">
                            <img class="group7" src="~/images/group6.svg" />
                        </div>
                    </div>
                    <img class="vector-68" src="~/images/vector-67.svg" />
                    <div class="button">
                        <div class="width-structure">
                            <div class="height-structure">
                                <div class="button-body">
                                    <div class="text">E-OFFICE</div>
                                </div>
                            </div>
                            <div class="min-width"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="vector-7" src="~/images/vector-70.svg" />
    </div>
    <div class="frame-175">
        <img class="_1457718455276-1" src="~/images/_1457718455276-10.png" />
        <div class="sistem-informasi-peradilan-militer">
            Sistem Informasi Peradilan Militer
        </div>
    </div>
</div>