<div class="card">
    <div class="card-header">
        <h3 class="card-title">Master Aplikasi</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a asp-controller="Personel" asp-action="Index" class="nav-link">
                    <i class="fa fa-users"></i> Personel
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Divisi" asp-action="Index" class="nav-link">
                    <i class="fa fa-building"></i> Divisi
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Komando" asp-action="Index" class="nav-link">
                    <i class="fa fa-anchor"></i> Komando
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Pangkat" asp-action="Index" class="nav-link">
                    <i class="fa fa-star"></i> Pangkat
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Jabatan" asp-action="Index" class="nav-link">
                    <i class="fa fa-address-card"></i> Jabatan
                </a>
            </li>
            
        </ul>
    </div>
    <!-- /.card-body -->
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Management User</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item active">
                <a asp-controller="Users" asp-action="Index" class="nav-link">
                    <i class="fa fa-user"></i> Users
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Groups" asp-action="Index" class="nav-link">
                    <i class="fa fa-user-secret"></i> Groups
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Roles" asp-action="Index" class="nav-link">
                    <i class="fa fa-link"></i> Roles
                </a>
            </li>
            
        </ul>
    </div>
    <!-- /.card-body -->
</div>